@model IEnumerable<PBLShop.ViewModels.DanhMucVM>

<aside class="bo-loc">
    <h2>Bộ lọc</h2>
    <ul>
        <li>
            <h3>Danh mục:</h3>
            <ul class="loai-san-pham">
                @foreach(var item in Model)
                {
                    <li>
                        <div class="category-item">
                            <input type="checkbox" id="@item.MaDM" class="category-toggle">
                            <label class="category-name" for="@item.MaDM">@item.TenDM</label>
                            <ul class="sub-category">
                                @if(item.DanhMucCon != null)
                                {
                                    @foreach (var childitem in item.DanhMucCon)
                                    {
                                        <li><a class="sub-category-name" asp-controller="SanPham" asp-action="Index" asp-route-dm="@childitem.MaDM">@childitem.TenDM</a></li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>
                }
            </ul>
        </li>
    </ul>
</aside>