@model IEnumerable<PBLShop.ViewModels.ChiTietGhVM>
@{
    ViewData["Title"] = "Add";
    Layout = null;
}
<h1>Giỏ hàng ( @Model.Count() sản phẩm ) </h1>
<section class="gio-hang">
    @foreach(var item in Model)
    {
        <div class="san-pham">
            <div class="hinh-anh">
                <img src="~/image/product.jpg" alt="Hình ảnh sản phẩm">
            </div>
            <div class="thong-tin">
                <h2>@item.TenSp</h2>
                <p class="gia">Số Lượng @item.SoLuong</p>
                <p class="gia">Đơn Giá: @item.DonGia đ</p>
                <a asp-action="Detail" asp-controller="SanPham" asp-route-id="@item.MaSp" class="chi-tiet">Chi tiết</a>
            </div>
            <form asp-controller="ChiTietGh" asp-action="Remove" asp-route-masp="@item.MaSp">
                <button><i class="fa fa-trash">Xóa</i></button>
            </form>
        </div>
    }
</section>