@model PBLShop.Models.KhachHang

@{
    ViewData["title"] = "Thông tin tài khoản";
    Layout = null;
}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZERAFASHION - Thời trang nam</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    
</head>
<body>
    <header>

        <div class="logo-container">
            <img src="~/image/logo.jpg" alt="Converse">
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a asp-action="Index" asp-controller="SanPham">SẢN PHẨM</a></li>
                    <li><a href="#">ÁO NAM</a></li>
                    <li><a href="#">QUẦN NAM</a></li>
                    <li><a href="#">GIÀY NAM</a></li>
                    <li><a href="#">ĐỒ THỂ THAO</a></li>
                    <li><a asp-action="Index" asp-controller="ChiTietGh">GIỎ HÀNG</a></li>
                    <li><a asp-action="Profile" asp-controller="KhachHang">TÀI KHOẢN</a></li>
                    <li><a asp-action="Login" asp-controller="KhachHang">ĐĂNG NHẬP</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <main>
        <div id="inforcustomers">
            <h1>Thông tin khách hàng</h1>

            <section class="inforcustomers__thong-tin">
                <p><strong>Họ tên:</strong> @Model.HoTen</p>

                <p><strong>Email:</strong> @Model.Email</p>

                <p><strong>Số điện thoại:</strong> @Model.DienThoai</p>

                <p><strong>Địa chỉ:</strong> @Model.DiaChi</p>
                @{
                    DateTime NgaySinh = (DateTime)@Model.NgaySinh;
                    var ns = NgaySinh.ToString("dd/MM/yyyy");
                    <p><strong>Ngày Sinh:</strong> @ns</p>
                }
            </section>

            <button type="button" id="btnChinhSua">Chỉnh sửa</button>
            <form asp-action="LogOut" asp-controller="KhachHang">
                <button id="btnQuenMatKhau">Đăng Xuất</button>
            </form>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer-left">
                <p>&copy; 2024 ZERAFASHION</p>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="footer-right">
                <p>Địa chỉ: 54 Nguyễn Lương Bằng, phường Hòa Khánh, quận Liên Chiểu, thành phố Đà  Mạng</p>
                <p>Điện thoại: 03533884230</p>
                <p>Email: chinhdeit@gmail.com</p>
            </div>
        </div>
    </footer>

    <script src="~/script.js"></script>
</body>
</html>