@model PBLShop.ViewModels.DangKyVM

@{
    ViewData["title"] = "Đăng Kí";
}
<div class="login">
    <div class="container">
        <div class="section-header">
            <h3>Đăng kí</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies. Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="register-form">
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <label asp-for="@Model.MaKh"></label><sup>*</sup>
                        <input asp-for="@Model.MaKh" class="form-control" type="text">
                        <span asp-validation-for="MaKh" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.HoTen"></label><sup>*</sup>
                        <input asp-for="@Model.HoTen" class="form-control" type="text">
                        <span asp-validation-for="HoTen" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.MatKhau"></label><sup>*</sup>
                        <input asp-for="@Model.MatKhau" class="form-control" type="password">
                        <span asp-validation-for="MatKhau" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="@Model.GioiTinh">Giới tính</label>
                        <div class="form-check">
                            <input asp-for="@Model.GioiTinh" class="form-check-input" type="checkbox">
                            <label class="form-check-label" asp-for="@Model.GioiTinh">Nam?</label>
                        </div>
                        <span asp-validation-for="GioiTinh" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.NgaySinh">Ngày Sinh</label><sup>*</sup>
                        <input asp-for="@Model.NgaySinh" class="form-control" type="date">
                        <span asp-validation-for="NgaySinh" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.DiaChi"></label><sup>*</sup>
                        <input asp-for="@Model.DiaChi" class="form-control" type="text">
                        <span asp-validation-for="DiaChi" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.DienThoai"></label><sup>*</sup>
                        <input asp-for="@Model.DienThoai" class="form-control" type="text">
                        <span asp-validation-for="DienThoai" class="text-danger"></span>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="@Model.Email"></label><sup>*</sup>
                        <input asp-for="@Model.Email" class="form-control" type="text">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <button class="btn" type="submit">Đăng kí</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>