@model PBLShop.ViewModels.QuanLySoLuongVM
@{
    Layout = "_LayoutAdmin";
}

<main class="container">
    <h3 class="mb-3">Thêm số lượng cho sản phẩm</h3>
    <form asp-action="Create2" asp-controller="SanPhamAdmin" asp-route-MaSp="@Model.MaSp" enctype="multipart/form-data">
        @for (int i = 0; i < Model.MauSacs.Count; i++)
        {
            <input type="hidden" name="MauSacs[@i]" value="@Model.MauSacs[i]" />
        }
        @for (int j = 0; j < Model.Sizes.Count; j++)
        {
            <input type="hidden" name="Sizes[@j]" value="@Model.Sizes[j]" />
        }
        <table class="table">
            <thead class="table-primary text-center">
                <tr>
                    <th class="text-center">Màu</th>
                    <th class="text-center">Kích cỡ</th>
                    <th class="text-center">Số lượng</th>
                    <th class="text-center">Ảnh</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MauSacs.Count; i++)
                {
                    bool isFirstRowForColor = true;
                    for (int j = 0; j < Model.Sizes.Count; j++)
                    {
                        <tr>
                            <td>@Model.MauSacs[i]</td>
                            <td>@Model.Sizes[j]</td>
                            <td>
                                <input type="number" asp-for="SoLuong[i][j]" min="0" class="form-control" style="width= 60px"/>
                            </td>
                            @if (isFirstRowForColor)
                            {
                                <td rowspan="@Model.Sizes.Count">
                                    <input type="file" name="HinhAnhs" />
                                </td>
                                isFirstRowForColor = false;
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="col justify-content-center d-flex flex-column">
            <button type="submit" class="btn btn-primary mt-5 mx-auto">Hoàn thành</button>
        </div>
    </form>
</main>
