@model PBLShop.ViewModels.QuanLySoLuongVM
@{
    Layout = "_LayoutAdmin";
}
<main class="container">
    <h3 class="mb-3">Chỉnh sửa số lượng cho sản phẩm</h3>
    <form asp-action="UpdateQuantity" asp-controller="SanPhamAdmin" asp-route-MaSp="@Model.MaSp" enctype="multipart/form-data">
        @for (int i = 0; i < Model.MauSacs.Count; i++)
        {
            <input type="hidden" name="MauSacs[@i]" value="@Model.MauSacs[i]" />
        }
        @for (int j = 0; j < Model.Sizes.Count; j++)
        {
            <input type="hidden" name="Sizes[@j]" value="@Model.Sizes[j]" />
        }
        <table class="table table-striped mt-3">
            <thead class="table-primary">
                <tr>
                    <th>Màu</th>
                    <th>Kích cỡ</th>
                    <th>Số lượng</th>
                    <th>Hình ảnh</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.MauSacs.Count; i++)
                {
                    bool isFirstRowForColor = true;
                    for (int j = 0; j < Model.Sizes.Count; j++)
                    {
                        <tr>
                            @if (isFirstRowForColor)
                            {
                                <td rowspan="@Model.Sizes.Count">@Model.MauSacs[i]</td>
                            }
                            <td>@Model.Sizes[j]</td>
                            <td>
                                <input type="number" asp-for="SoLuong[i][j]" min="0" value="@Model.SoLuong[i][j]" class="form-control" />
                            </td>
                            @if (isFirstRowForColor)
                            {
                                <td rowspan="@Model.Sizes.Count">
                                    <input type="file" name="NewHinhAnhs" />
                                    @if (!string.IsNullOrEmpty(Model.HinhAnhs[i]))
                                    {
                                        <div>
                                            <img src="~/image/@Model.HinhAnhs[i]" alt="Current Image" style="width: 100px; height: auto; margin-top: 10px;" />
                                            <input type="hidden" name="HinhAnhs[@i]" value="@Model.HinhAnhs[i]" />
                                        </div>
                                    }
                                    else
                                    {
                                        <input type="hidden" name="HinhAnhs[@i]" value="" />
                                    }

                                    @{isFirstRowForColor = false;}
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div class="col justify-content-center d-flex flex-column">
            <button type="submit" class="btn btn-primary">Hoàn thành</button>
        </div>
    </form>
</main>