@model PBLShop.ViewModels.ChiTietSanPhamVM

@{
    ViewData["title"] = "Chi tiet san pham";
}
<div id="detailproduct">
    <img src="~/image/@Model.HinhAnh" alt="@Model.TenSp">
    <div class="product-info">
        <div>
            <h2>@Model.TenSp</h2>
            <p>@Model.DonGia.ToString("N0") ₫</p>
            @{
                string status = "";
                if (Model.SoLuong == 0)
                {
                    status = "Hết hàng";
                }
                else
                {
                    status = "Còn hàng";
                }
            }
            <p>Tình trạng: @status</p>
        </div>
    </div>

    <div class="product-options">
        <form asp-action="Add" asp-controller="ChitietGh" asp-route-id="@Model.MaSp" >
            <input type="text" value="@Model.MaSp" name="id" id="inputAddressDetailCus" hidden>
            <div>
                <label for="color">Màu sắc:</label>
                <select id="color" name="mausac">
                    @foreach (var item in Model.MauSac)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div>
                <label for="size">Kích thước:</label>
                <select id="size" name="size">
                    @foreach (var item in Model.KichThuoc)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div>
                <label for="quantity">Số lượng:</label>
                <input type="number" id="quantity" value="1" min="1" max="10" name="soluong">
            </div>
            <div asp-validation-summary="All" class="error-message"></div>
            <div>
                <button type="submit" class="btn-buy-now">Mua ngay</button>
            </div>
        </form>
        @if (TempData["ErrorMessage"] != null)
        {
            <script type="text/javascript">
                swal("Lỗi", "@Html.Raw(System.Text.Encodings.Web.JavaScriptEncoder.Default.Encode(@TempData["ErrorMessage"].ToString()))", "loi");
            </script>
        }
    </div>
</div>
<div class="product-description">
    <h2>Mô tả sản phẩm</h2>
    <p>
        @Model.MoTa
    </p>
</div>
@if (!Model.DaDanhGia)
{
    <div id="feedbackuser">
        <div class="container">
            <h2>Đánh giá sản phẩm</h2>


            <div class="review-form">
                <h3>Đánh giá của bạn</h3>
                <form asp-action="Create" asp-controller="DanhGia">
                    <input name="id" hidden value="@Model.MaSp" />
                    <label for="rating">Đánh giá (1-5 sao):</label>
                    <select name="soSao" id="rating">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <label for="review">Bình luận:</label>
                    <textarea id="review" name="noiDung" rows="5"></textarea>

                    <button type="submit">Gửi đánh giá</button>
                </form>
            </div>

        </div>
    </div>
}
else
{
    <div id="feedbackuser">
        <div class="container">
            <h2>Đã đánh giá</h2>
        </div>
    </div>
}

@if (Model.DanhGia.Count() != 0)
{
    @await Html.PartialAsync("FeedBack", Model.DanhGia)
}
