@model PBLShop.ViewModels.DonHangVM

<div class="dropdown-menu p-2 order_detail">
    <div class=" d-flex justify-content-center">
        <h3 class="text-bg-warning"> Thông tin chi tiết đơn hàng</h3>
    </div>
    <p>Tên người nhận: @Model.TenNguoiNhan</p>
    <p>Địa chỉ: @Model.DiaChi</p>
    <p>Số điện thoại người nhận: @Model.SoDienThoai</p>
    <p>Phương thức thanh toán: @Model.PhuongThuc</p>
    @{
        DateTime ns = (DateTime)Model.NgayDat;
        <p>Ngày đặt hàng: @ns.ToString("dd/MM/yyyy")</p>
    }
    <p>Trạng thái: @Model.TrangThai</p>
    <div class="d-flex flex-column">
        @foreach (var item in Model.chiTietDhVMs)
        {
            <div class="card d-flex flex-row card-item">
                <div class="card-body flex-grow-1">
                    <img class="order-product-img" src="~/image/@item.HinhAnh" alt="Ảnh SP">
                </div>
                <div class="card-body flex-grow-1">
                    <p>@item.TenSp-@item.MauSp-@item.size</p>
                    <p>Số lượng: @item.SoLuong</p>
                    <p class="price">Đơn giá: @item.DonGia.ToString("N0") đ</p>
                </div>
            </div>
        }
        <div class="d-flex mt-5">
            <h5 class="price col justify-content-end d-flex"> Tổng tiền: @Model.TongTien.ToString("N0") đ</h5>
        </div>
    </div>
</div>