@model IEnumerable<PBLShop.ViewModels.DonHangVM>

@{
    Layout = "_LayoutAdmin";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<main class="px-3">
    <h3 class="my-3">Lịch sử bán hàng</h3>

    <table class="table table-striped container-fluid mt-3" id="receiving_order">
        <thead>
            <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Mã khách hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Tên người nhận</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Xem chi tiết</th>
                <th scope="col">Xem hóa đơn</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.MaDh</th>
                    <td>@item.MaKh</td>
                    <td>@item.TenKh</td>
                    <td>@item.TenNguoiNhan</td>
                    <td>@item.TongTien.ToString("N0") đ</td>
                    <td>
                        <button type="button" class="dropdown-toggle btn btn-info" data-bs-toggle="dropdown" aria-expanded="false">
                            Xem chi tiết
                        </button>
                        @await Html.PartialAsync("Detail", item)
                    </td>
                    <td>
                        <form asp-action="GetInvoice" asp-controller="HoaDon" asp-route-id="@item.MaDh" method="get">
                            <button type="submit" class="btn btn-primary">Xem hóa đơn</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>
