@model PBLShop.ViewModels.DangNhapVM

@{
    Layout = null;
    ViewData["title"] = "Đăng Nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="~/css/main.css">

</head>
<body>

    <div id="login">
        <h1>Đăng nhập</h1>

        <form asp-action="Login" asp-route-url="@ViewBag.ReturnUrl" id="LoginForm">
            <div asp-validation-summary="All" class="error-message"></div>
            
            <div class="form-group">
                <label asp-for="@Model.Email"></label>
                <input asp-for="@Model.Email" class="form-control" type="text" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="@Model.MatKhau"></label>
                <input asp-for="@Model.MatKhau" class="form-control" type="password" required>
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>
            <div class="form-group-login">
                <button class="btn" type="submit">Đăng nhập</button>
            </div>
        </form>
        <!--<a href="#">Quên mật khẩu?</a>-->

        <p><a asp-action="Register" asp-controller="KhachHang">Đăng ký tài khoản mới</a></p>

    </div>
    <script src="~/js/script.js"> </script>
</body>
</html>




