@model PBLShop.ViewModels.NguoiDungVM

@{
    if (Model.vaiTro != "Khách Hàng")
    {
        Layout = "_LayoutAdmin";
    }
    ViewData["title"] = "Thông tin tài khoản";
}
<div id="inforcustomers">
    <h1>Thông tin người dùng</h1>

    
        <section class="thong-tin">
            <label for="hoTen">Họ tên:</label>
            <span id="hoTenSpan">@Model.HoTen</span>

            <label for="email">Email:</label>
            <span id="emailSpan">@Model.Email</span>

            <label for="soDienThoai">Giới tính:</label>
            <span id="gioitinhSpan">@Model.GioiTinh</span>

            <label for="soDienThoai">Số điện thoại:</label>
            <span id="soDienThoaiSpan">@Model.SoDienThoai</span>

            <label for="diaChi">Địa chỉ:</label>
            <span id="diaChiSpan">@Model.DiaChi</span>

            <label for="ngaySinh">Ngày Sinh:</label>
            @{
                DateTime NgaySinh = (DateTime)@Model.NgaySinh;
                var ns = NgaySinh.ToString("dd/MM/yyyy");
                <span id="ngaySinhSpan">@ns</span>
                if (Model.vaiTro != "Khách Hàng")
                {
                    <label>Vai trò:</label>
                    <span id="">@Model.vaiTro</span>
                }
            }
        </section>
    <div class="mt-4">
        <a asp-action="Update" asp-controller="User" asp-route-id="@Model.ID" class="btn btn-primary">Chỉnh sửa</a>
    </div>

</div>