@model PBLShop.ViewModels.DangKyVM

@{
    ViewData["title"] = "Đăng Kí";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/main.css">
</head>
<body>
    <div id="signup">
        <h1>Đăng ký</h1>

        <form asp-action="Register" asp-route-url="@ViewBag.ReturnUrl">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" for="email">Email:</label>
                <input asp-for="@Model.Email" type="email" id="email" name="email" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.MatKhau"></label>
                <input asp-for="@Model.MatKhau" class="form-control" type="password">
                <span asp-validation-for="MatKhau" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.HoTen"></label>
                <input asp-for="@Model.HoTen" class="form-control" type="text">
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="gender">Giới tính:</label>
                <select asp-for="MaGioiTinh" class="form-control" required>
                    <option value="">Chọn giới tính</option>
                    <option value="1">Nam</option>
                    <option value="2">Nữ</option>
                    <option value="3">Khác</option>
                </select>
                <span asp-validation-for="MaGioiTinh" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.DiaChi"></label>
                <input asp-for="@Model.DiaChi" class="form-control" type="text">
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.DienThoai"></label>
                <input asp-for="@Model.DienThoai" class="form-control" type="text">
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.NgaySinh">Ngày Sinh</label>
                <input asp-for="@Model.NgaySinh" class="form-control" type="date">
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group-signup">
                <button type="submit">Đăng ký</button>
            </div>
        </form>


    </div>

</body>
</html>

